*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.To-list{
    width: 100%;
    background-color: rgb(234, 234, 234);
    max-width: 540px;
    margin: 100px auto  20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  
   
}
.To-list h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.To-list h2 img{
     width: 30px;
     margin-left: 15px;
}
.row{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.row input{
    border: none;
    outline: none;
    flex: 1;
    height: 10px;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
}
.row button{
    border-radius: 50%;
    width: 60px;
    height: 45px;
    margin-left: 15px;
    cursor: pointer;

}
.row button:hover{
    background-color: rgb(17, 235, 75);
    color: white;
    font-weight: bolder;
    zoom: 1.03;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/images/checked.png);
}
ul li span{
   position: absolute;
   right: 0;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   font-size: 30px;
   text-align: center;
   color: rgb(223, 22, 22);
   background-color: white;

}
ul li span:hover{
    background-color: red;
    color: white;
}